body{
	background-color: #010409;
	color: white;
}
#rootDiv{
	display: flex;
	height: 100vh;
}
#leftMenu{
	width: 30%;
	padding: 1rem;
	background-color: #0d1117;
	border: 1px solid #404040;
	border-radius: 0.5rem;
}
#pageBody{
	width: 100%;
	padding: 1rem;
}
.menuItem{
	display: block;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	border: 1px solid #404040;
	padding: 0.5rem;
}